/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600&family=Roboto:wght@400;500&display=swap");


/*=============== CONTACT ===============*/
.contact__container{
  row-gap: 3.5rem;
}

.contact__title{
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: .5rem;
  font-size: var(--small-font-size);
  font-weight: var(--font-semi-bold);
  margin-bottom: 2.5rem;
}

.contact__title i{
  font-size: 1rem;
  font-weight: initial;
}

.contact__info,
.contact__data,
.contact__form{
  display: grid;
}

.contact__info{
  row-gap: 2rem;
}

.contact__data{
  row-gap: .75rem;
}

.contact__data-title{
  font-size: var(--small-font-size);
  color: var(--text-color-light);
}

.contact__data-info{
  font-size: var(--small-font-size);
  font-family: var(--title-font);
  color: var(--title-color);
}

.contact__button{
  width: max-content;
  display: inline-flex;
  align-items: center;
  column-gap: .5rem;
  color: var(--title-color);
  font-size: var(--small-font-size);
}

.contact__button i{
  font-size: 1rem;
  transform: transform .3s;
}

.contact__button:hover i{
  transform: translateX(.25rem);
}

.contact__form{
  position: relative;
  row-gap: 2rem;
}

.contact__form-div{
  position: relative;
  height: 4rem;
}

.contact__form-input{
  position: absolute;
  top: o;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px solid var(--text-color-light);
  border-radius: 2rem;
  padding: 1.5rem;
  font-size: var(--normal-font-size);
  font-family: var(--title-font);
  color: var(--title-color);
  background: none;
  outline: none;
  z-index: 1;
}

.contact__form-tag{
  position: absolute;
  top: -.75rem;
  left: 1.25rem;
  z-index: 10;
  background-color: var(--body-color);
  color: var(--title-color);
  font-size: var(--smaller-font-size);
  font-weight: var(--font-medium);
  padding: .35rem;
  transition: background .4s; /* for dark mode animation */
}

.contact__form-area{
  height: 10rem;
}

.contact__form-area textarea{
  resize: none;
}

.contact__form .contact__button{
  border: none;
  background: none;
  font-size: var(--h2-font-size);
  font-family: var(--title-font);
  font-weight: var(--font-semi-bold);
  cursor: pointer;
  outline: none;
  margin-top: .75rem;
}

.contact__form .contact__button i{
  font-size: 1.5rem;
  font-weight: initial;
}

.contact__message{
  font-size: var(--small-font-size);
  position: absolute;
  bottom: 2.8rem;
  left: 1.5rem;
}
/* Status color */
.color-red{
  color: hsl(4, 71%, 50%);
}

.color-blue{
  color: hsl(207, 56%, 45%);
}

/*=============== FOOTER ===============*/
.footer__container{
  padding: 3rem 0 7rem;
  text-align: center;
}

.footer__title{
  font-size: var(--h1-font-size);
  font-weight: var(--font-semi-bold);
  margin-bottom: 1rem;
}

.footer__list,
.footer__social{
  display: flex;
  justify-content: center;
}

.footer__list{
  margin: 2.5rem 0;
  column-gap: 2.5rem;
}

.footer__link{
  color: var(--title-color);
}

.footer__link:hover{
  text-decoration: underline;
}

.footer__social{
  column-gap: 1.25rem;
}

.footer__social-link{
  font-size: 1.25rem;
  color: var(--title-color);
  transition: transform .3s;
}

.footer__social-link:hover{
  transform: translateY(-.15rem);
}

.footer__copy{
  display: block;
  margin-top: 4.5rem;
  font-size: var(--smaller-font-size);
  color: var(--text-color-light);
}
/*=============== SCROLL BAR ===============*/
::-webkit-scrollbar{
  width: .6rem;
  border-radius: .5rem;
  background-color: hsl(207, 4%, 75%);
}

::-webkit-scrollbar-thumb{
  background-color: hsl(207, 4%, 65%);
  border-radius: .5rem;
}

::-webkit-scrollbar-thumb:hover{
  background-color: hsl(207, 4%, 55%);
  
}
/*=============== SCROLL UP ===============*/
.scrollup{
  position: fixed;
  right: 1rem;
  bottom: -30%;
  background-color: var(--body-color);
  box-shadow: 0 4px 12px hsl(207 24%, 35%, .15);
  display: inline-flex;
  padding: .35rem;
  border-radius: .25rem;
  font-size: 1.1rem;
  color: var(--title-color);
  z-index: var(--z-tooltip);
  transition: bottom .3s, transform .3s;
}

.scrollup:hover{
  transform: translateY(-.25rem);
}

/* Show Scroll Up*/
.show-scroll{
  bottom: 7.5rem;
}

/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 340px) {
  .container{
    margin-inline: 1rem;
  }

  .nav__menu{
    padding-bottom: 4rem;
  }

  .nav__list{
    gap: 1rem 1.25rem;
  }

  .skills__info{
    grid-template-columns: repeat(2,1fr);
  }

  .projects__img{
    width: 200px;
    justify-self: center;
  }
}

/* For medium devices */
@media screen and (min-width: 576px) {
   .nav,
   .nav__menu{
    width: 380px;
   }

   .nav{
    margin: 0  auto;
   }

   .skills__container{
    justify-content: center;
   }

   .projects__container,
   .testimonal__container{
    width: 400px;
   }

   .projects__container{
    overflow: hidden;
   }

   .projects__container .swiper-button-prev{
    left: 1rem;
   }

   .projects__container .swiper-button-next{
    right: 1rem;
   }
}



  .skills__container,
  .qualification__container,
  .services__container,
  .contact__container{
    grid-template-columns: repeat(2, max-content);
  }

  .skills__container,
  .services__container{
    column-gap: 5rem;
  }

  .qualification__container{
    justify-content: center;
    column-gap: 10rem;
  }

  .projects__container{
    width: 500px;
  }

  .contact__form{
    width: 360px;
  }

  .contact__container{
    justify-content: center;
    column-gap: 8rem;
  }
}

/* For large devices */
@media screen and (min-width: 1023px) {
  .header{
    top: 0;
    bottom: initial;
    background-color: var(--body-color);
    transition: .4s;
  }

  .nav{
    width: initial;
    height: calc(var(--header-height) + 1.5rem);
    box-shadow: none;
    border-radius: 0;
    column-gap: 3rem;
    margin-inline: 1.5rem;
    padding: 0;
  }

  .nav__link i,
  .nav__toggle,
  .nav__close{
    display: none;
  }
  
  .nav__menu{
    width: initial;
    margin-left: auto;
    background-color: var(--body-color);
    transition: background .4s4;
  }

  .nav__list{
    display: flex;
    column-gap: 3rem;
  }

  .nav__link{
    font-size: var(--normal-font-size);
  }

  .dark-theme .nav,
  .dark-theme .nav__menu{
    background-color: var(--body-color);
    box-shadow: none;
  }

  .change-theme{
    color: var(--text-color-light);
  }

  .change-theme:hover{
    color: var(--title-color);
  }

  .section{
    padding-block: 8rem 0;
  }

  .home__title{
    font-size: 2.25rem;
  }

  .scrollup{
    right: 3rem;
  }

  .show-scroll{
    bottom: 5rem;
  }
  /*change backgroubd header */
  .bg-header{
    box-shadow: 0 4px 20px hsl(207, 24%, 35%, .1);
  }
  
  .dark-theme .bg-header{
    box-shadow: 0 6px 24px hsl(207, 24%, 8%, .6);
  }
}

@media screen and (min-width: 1048px) {
  .container{
    margin-inline: auto;
  }
}

@media screen and (min-width: 1200px) {
  .section__border{
    padding-bottom: 6rem;
  }

  .section__subtitle{
    margin-bottom: 5rem;
  }

  .home__title{
    font-size: var(--biggest-font-size);
  }

  .home__blob{

  }
}